* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#favicon {
  color: var(--branco);
}


@font-face {
  font-family: "Recursive";
  src: url(./font/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

:root {
  --branco: #FFFFFF;
  --preto: #000000;
  --verde: #00CF21;
  --verdeEscuro: #026900;
}

.container-grid {
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
}


body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.banner {
  background-image: url(./img/pexels-andre-furtado-43594-1417246.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container-grid img {
  height: 85px;
}

.pesquisa {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.menu {
  max-width: 600px;
  width: 60%;

  display: flex;
  justify-content: space-between;
}

.menu a {
  font-size: 20px;
  color: var(--branco);
  font-family: "Recursive", sans-linear;

  text-decoration: underline transparent;
}

.menu a:hover {
  text-decoration-color: var(--branco);
}

.menu a {
  color: var(--branco);
  /* cor normal */
  text-decoration: none;
  font-family: "Recursive", sans-linear;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--verde);
  /* verde ao passar o mouse */
}

div .banner {
  max-width: 600px;
  width: 60%;

  display: flex;
  justify-content: space-between;
}

/* 
.titulo{
    display: flex;
    align-items: center;
    font-family: "Recursive", sans-linear;
    font-weight: 600;
    font-size: 35px;
}

.titulo h2{
    color: var(--branco);
    margin-bottom: 0;
    background-color: var(--verde);
    border-radius: 20px;
    padding: 10px 18px;
}

.titulo span{
    color: var(--branco);
}

.texto-banner p{
    color: var(--branco);
} */

#sobre {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#sobre h2 {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sobre span {
  color: #FFFFFF;
  margin-bottom: 0;
  background-color: #00CF21;
  border-radius: 20px;
  padding: 10px 18px;
}

#meuCarrossel {
  max-width: 450px;
  width: 90%;
}

#sobre img {
  height: 390px;
  border-radius: 20px;
}

.conteudo-sobre {
  max-width: 600px;
  margin: 20px auto;
  padding: 0 20px;
}

.conteudo-sobre p {
  font-size: 20px;
  line-height: 1.6;
  color: #000;
}

/* -------------------------------------------------- */
#Nossos {
  margin-bottom: 100px;
}

.titulo {
  margin-bottom: 30px;
}


#Nossos h2 {
  color: var(--preto);
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
}



#Nossos span {
  color: var(--branco);
  margin-bottom: 0;
  background-color: #00CF21;
  border-radius: 20px;
  padding: 10px 18px;
}


.titulo h2 {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo span {
  color: #FFFFFF;
  margin-bottom: 0;
  background-color: #00CF21;
  border-radius: 20px;
  padding: 10px 18px;
}


.contem-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card_viagens {
  background-color: #006400;
  color: white;
  border-radius: 15px;
  width: 260px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  padding: 20px;
}

.card_viagens:hover {
  transform: scale(1.05);
}

.card_viagens img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

.card_viagens h2 {
  font-size: 22px;
  margin: 10px 0;
  text-decoration: underline;
}

.card_viagens p {
  font-size: 14px;
  margin: 5px 0;
  line-height: 1.4;
}

.preco {
  margin-top: 10px;
  font-size: 16px;
}

.valor {
  font-weight: bold;
  font-size: 20px;
}



/* -------------------Pacotes-------------------- */


/* ------------------ */

.card {
  display: flex;
  gap: 20px;
  max-width: 850px;
  justify-content: center;
  flex-wrap: wrap;
}

.text-box {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 260px;
  background-color: white;
}

.image-box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.text-box {
  background-color: #006400;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box p {
  font-size: 15px;
  line-height: 1.5;
}


/* ------------------ */

#políticas {
  margin-bottom: 100px;
  margin-top: 100px;
}

#políticas img {
  width: 150px;
 margin-left: 550px;
}

.Logo {
  background-color: #00cc33;
  color: white;
  display: inline-block;
  padding: 10px 25px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 30px;
  border-bottom: 3px solid #00cc33;
}

.container {
  max-width: 900px;
  margin: auto;

}

h1 {
  font-weight: bold;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.conteudo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.icone {
 background-color: #026900;
  height: 100px;
  border-radius: 50px;
  margin-right: -100px;


}

.icone img {
  color:var(--verde);
  width: 80px;
  height: 80px;
  margin-right: 800px;
  border-radius: 90px;
}

.textos {
  text-align: left;
}

.box {
  margin-bottom: 30px;
}

h2 {
  margin: 10px 0;
}

.btn {
  background-color: #005d00;
  color: var(--verdeEscuro);
  padding: 15px;
  border-radius: 10px;
  width: fit-content;
  font-size: 18px;
  line-height: 1.5;
}



/* ------------- */

.footer {
  background-color:var(--verdeEscuro); /* verde médio */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  color: #fff;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo img {
  width: 200px; 
  margin-bottom: 20px;
}

.footer-logo p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.footer-logo span {
  font-weight: normal;
  font-size: 14px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-item {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.social-item i {
  font-size: 20px;
  margin-right: 10px;
}

.social-item span {
  font-size: 16px;
}

  .footer-logo img {
    width: 300px;
    margin-bottom: 20px;}

/* --------------------- */

